
.textgradient {
  background: -webkit-linear-gradient(#7f41f3, #39df83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursive {
  font-family: cursive;
}

.texthover:hover{
  color: rgb(72, 226, 72);
}


.animation1{
  animation-name: zoom ;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes zoom{
  0%{
    transform:scale(0px);
  }
  50%{
    transform:scale(1.1);
  }
  75%{
    transform:scale(0px);  
  }
}

.animation2{
  animation-name: up;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes up{
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(20px);
  }
  75%{
    transform:translateY(0);  
  }
}
